---
layout: default
pagination:
  enabled: true
---
<!-- The main content area -->
<div class="intro">
  Hi, you found me!<br>
  I am Eunji, a product designer based in Seoul 🤟
</div>
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in site.posts %}
        {% include post-card.html %}
      {% endfor %}
      
    </div>
  </div>

  {% include pagination.html %}
</div>

<script type="text/javascript">
  $( document ).ready(function() {
      $('.header__list li:first-child').addClass("active");
  });
</script>